<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <img src="assets/img/escudo.png" alt="Left Image" class="header-image">
      </ion-button>
    </ion-buttons>
    <ion-title>Demo</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <img src="assets/img/lines.png" alt="Right Image" class="header-image">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="image-link">
          <a routerLink="/tramites">
            <div class="rectangular-background">
              <div class="circular-background">
                <img src="assets/img/btn_tramites.png" alt="Imagen con enlace">
              </div>
              <p>TRAMITES</p>
            </div>
          </a>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="image-link">
          <a routerLink="/eventos">
            <div class="rectangular-background">
              <div class="circular-background">
                <img src="assets/img/btn_eventos.png" alt="Imagen con enlace">
              </div>
              <p>EVENTO</p>
            </div>
          </a>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="image-link">
          <a routerLink="/salud">
            <div class="rectangular-background">
              <div class="circular-background">
                <img src="assets/img/btn_salud.png" alt="Imagen con enlace">
              </div>
              <p>SALUD</p>
            </div>
          </a>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="image-link">
          <a routerLink="/daem">
            <div class="rectangular-background">
              <div class="circular-background">
                <img src="assets/img/btn_daem.png" alt="Imagen con enlace">
              </div>
              <p>DAEM</p>
            </div>
          </a>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="image-link">
          <a routerLink="/contacto">
            <div class="rectangular-background">
              <div class="circular-background">
                <img src="assets/img/btn_contacto.png" alt="Imagen con enlace">
              </div>
              <p>CONTACTO</p>
            </div>
          </a>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="image-link">
          <a routerLink="/emergencia">
            <div class="rectangular-background">
              <div class="circular-background">
                <img src="assets/img/btn_emergencia.png" alt="Imagen con enlace">
              </div>
              <p>EMEREGENCIA</p>
            </div>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="footer-text">
    <p>I. MUNICIPALIDAD DE SAN FELIPE</p>
    <p>Salinas 1211</p>
    <p>2509000</p>
  </div>
</ion-content>
